*{
    padding:0;
    margin:0;
}

.header{
    position:fixed;
    width: 100%;
    border:solid 2px black;
    background: aliceblue;
}

.nav img{
    width: 300px;
    padding:0;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.nav a{
    text-decoration: none;
    font-size: 2em;
    margin-right: 50px;
}

.bigText{
    font-size: 5em;
}

.textAlign{
    text-align: center;
}

